<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/" method="get">
    <select name="vybranaKategorie" th:value="${vybranaKategorie}">
        <option value="_">Všechny kategorie</option>
        <option th:each="kat: ${kategorie}" th:value="${kat}" th:text="${kat}"></option>
    </select>
    <button type="submit">Hledej podle kategorie</button>
</form>

<p th:each="inzerat : ${inzeraty}" th:text="${inzerat}"></p>

</body>
</html>